/* COMMON */

body{
    font-family: 'Roboto', sans-serif;
    color:#434455;
    background-color:#fff;
}

a {
    text-decoration: none;
}

ul, ol{
    list-style: none;
    padding:0;
    margin:0;
}

.container{
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
margin: 0;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* header */

.header{
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    border-bottom: 1px solid #e7e9fc;
}

.header-conteiner{
    display:flex;
    align-items: center;
}

img{
    display:block;
}
/* Logo */

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    display: inline-block;
}

.logo-part {
    color: #2e2f42;
}

/* Nav */

.navigation {
    display: flex;
    align-items: center;
}

.nav-list{
    display:flex;
    gap: 40px;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display:block;
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-current{
    color: #404bbf;
}

.nav-current::after{
    display:block;
    content:'';
    position: absolute;
    width:100%;
    bottom: -1px;
    left: 0;
    height: 4px;
    border-radius: 2px;
    color:#404bbf;
    background-color: #404bbf;
}

.nav-link:hover,
.nav-link:focus{
    color:#404BBF;
}

/* Addres */

.address-list{
    display:flex;
    gap: 40px;
}

.address {
    font-style: normal;
    margin-left: auto;
}

.addres-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.addres-link:hover,
.addres-link:focus{
    color:#404BBF;
}

/* HERO */

.hero{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url("../images/hero-image.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #2e2f42;
    max-width:1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 188px 0;
}

.hero-title{
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

button {
    cursor: pointer;
}

.button{
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border:none;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus{
    background-color:#404BBF;
}

/* Tech */

.tech-list{
    display: flex;
    gap: 24px;
    width: calc((100% - 72)/4s);
}

.team-proffesion{
    padding: 24px 0
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.tech-list-link{
    display:flex;
    align-items:center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
}

.tech-title-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.tech-title-info{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.tech-item{
    width: calc((100% - 72px) / 4);
}

/* Team */
.team-main{
    background-color:#f4f4fd;
    margin-left: auto;
    margin-right: auto;
    max-width:1440px;
    height: 780px;
}

.team-list{
    display:flex;
    gap:24px;
    margin: 72px auto;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.team-title-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px
}

.team-title-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 32px;
}

.team-proffesion{
    padding: 32px 0;
}

.team-list-item{
    background-color: #ffffff;
    width: calc((100% - 72)/4);
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    
}

.team-icon-list {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    gap: 24px;
}

.team-icon-link {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius:50%;
    background-color: #4d5ae5;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover,
.team-icon-link:focus {
    background-color: #31d0aa; 
}

.tech-list-ikon{
    fill:#f4f4fd;
}

/* Portfolio */

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform:capitalize;
    margin-bottom: 72px;
}

.potfolio-list{
    display:flex;
    flex-wrap:wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-title-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-title-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-item{
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover{
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-profession{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.overlay-portfolio{
    position: relative;
    overflow: hidden;
}

.portfolio-overlay-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 40px 32px;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay-text{
    transform: translatey(0);
}

/* Footer */

.footer-main{
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-info{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
    margin-top: 16px;
}

.footer{
    display:flex;
    align-items: baseline;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 120px;
    display: inline-block;
}

.logo-part-footer{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-media{
    margin-right: 80px;
}

.footer-media-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.container-logo{
    display:flex;
    flex-direction:column;
    margin-right: 120px;
}

.footer-icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover,
.footer-icon-link:focus{
    background-color: #31d0aa;
}

.footer-icon-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 208px;
}

.footer-list-ikon{
    fill:#f4f4fd;
}

.footer-icon-item{
    width:40px;
    height:40px;
}

.subscribe-text{
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.subscribe-form {
    display:flex;
    gap:24px;
}

.subscribe-form-input {
    border: 1px solid #fff;
        border-radius: 4px;
        width: 264px;
        height: 40px;
        margin-right: 24px;
        padding-left: 16px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #ffffff;
        background-color:transparent;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        transition-property: background-color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form-input::placeholder{
        color #ffffff;
}

.subscribe-form-submit {
    display:flex;
    justify-content: center;
    align-items:center;
    font-weight: 500;
    border-radius: 4px;
    min-width: 165px;
    height: 40px;
    background: #4d5ae5;
    border:none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
}

.subscribe-form-icon{
    fill:#fff;
    margin-left: 16px;
}

.subscribe-form-submit:hover,
.subscribe-form-submit:focus{
    background-color:#404bbf;
}

/* BACKDROP */

.backdrop {
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.4);
    z-index:9999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open{
    opacity:1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    padding-top: 72px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   width: 408px;
   min-height: 584px;
   background-color: #fcfcfc;
   border-radius: 4px;
   box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    position:absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    cursor:pointer;
    border:1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    display:flex;
    justify-content:center;
    align-items:center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus{
    background-color: #404bbf;
    border:none;
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover > .modal-close-icon,
.modal-close-btn:focus > .modal-close-icon{
    fill:#ffffff;
}

.review-form-description {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 16px;
}

.review-form-field-wraper {
            margin-bottom: 8px;
}

.review-form-field-comment-wraper {
    margin-bottom: 16px;
}

.review-form-field-label {
    display:block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        margin-bottom: 4px;
}

.review-form-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        outline: transparent;
        width: 360px;
        height: 40px;
        padding-left: 38px;
        background-color: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus{
    border-color: #4D5AE5;
    outline:transparent;
}

.review-form-input:focus + .review-form-fiel-icon{
    fill: #4D5AE5;
}

.review-form-message {
    border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        background-color: transparent;
        outline: transparent;
        width: 100%;
        height: 120px;
        resize:none;
        padding: 8px 16px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-message:focus{
    border-color: #4D5AE5;
    outline:transparent;
}

.review-form-message::placeholder{
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
}

.review-form-checkbox-wrapper {
    margin-bottom: 24px;
}

.review-form-fiel-icon{
    fill:#2e2f42;
    position:absolute;
    top:50%;
    left: 16px;
    transform:translatey(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input-wraper{
    position:relative;
}

.review-form-checkbox-label {
    line-height: 1.17;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.privacy-policy-link {
    color:#4d5ae5;
    text-decoration: underline;
}

.review-form-checkbox:checked + .review-form-checkbox-label .review-form-own-checkbox{
    background-color:#404bbf;
    border: none;
    fill:#f4f4fd;
}

.review-form-checkbox:focus + .review-form-checkbox-label .review-form-own-checkbox{
    outline:2px solid rgba(0,0,255,0.5);
}

.review-form-own-checkbox{
    display: inline-flex;
    justify-content:center;
    align-items:center;
    fill:transparent;
    cursor:pointer;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-submit {
    display:block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 4px;
        padding: 16px 32px;
        min-width: 169px;
        height: 56px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: #4d5ae5;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        border:none;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-submit:hover,
.review-form-submit:focus{
    background-color:#404bbf;
}
